/* Add screen styles below */

body {
    background-color:#020415;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
    margin: 100px;
    padding: 0;
    overflow: hidden;
}

.container {
    margin-left: 23%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 50px;
}

.container2 {
    margin: 0px 300px 0px 300px;
    align-items: center;
    align-content: center;
    text-align: center;
}


#moon {
    opacity: 50%;
}

#moon:hover {
    opacity: 100%;
}

#earth {
    opacity: 50%;
}

#earth:hover {
    opacity: 100%;
}

.container img {
    transition: transform 0.5s ease;
}

.container img:hover {
    transform: scale(1.1);
}

p {
    font-style: oblique;
}

